

body {
	position: relative;
	background-attachment: fixed;
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #e6e6e6;
}

body:after{
	content:"";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("./MainLibrary.png");
	background-size: cover;
	opacity: 0.3;
	z-index: -1;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.7);
}

.form h1 {
	margin: 30px 100px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.input-form {
	margin: 15px 40px;
	text-align: center;
}

.input-form input {
	padding: 10px;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: none;
	outline: none;
	border: 1px solid #fff;
	box-sizing: border-box;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
	border: 1px solid #0fc3f5;
}

.input-form input[type="submit"] {
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #0fc3f5;
	transition: .3s;
}

.input-form input[type="submit"]:hover {
	background: #4442db;
}

.form a {
	display: block;
	padding: 0 0 30px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	transition: .3s;
}

.form a:hover {
	color: #0fc3f5;
}

a {
	text-decoration: none;
}
a:visited {
	color: #3D3D3D;
}

.ru{
	background-image: url("ru.png");
}

.en{
	background-image: url("us.png");
}

.langButton{
	width: 40px;
	height: 27px;
	background-size: cover;
	color: transparent;
}

.langForm{
	position: absolute;
	top: 14px;
	right: 20px;
}

.aboutUs{
	backdrop-filter: blur(15px);
	width: 90%;
	margin: 20px auto;
	font-size: 22px;
	padding: 40px;
	text-align: justify;
	color: #656665;
	border: 5px solid rgba(255,255,255,0.7);
}